<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abcwork.mapper.DeviceTokenMapper">

	<resultMap type="Token" id="tokenResultMap">
		<id property="token" column="token" />
		<result property="uid" column="uid" />
	</resultMap>

	<!-- 查询，根据id -->
	<select id="get" parameterType="Long" resultType="Token"
		resultMap="tokenResultMap">
		<![CDATA[
			SELECT * FROM token WHERE uid = #{uid} 
		]]>
	</select>

	<insert id="add" parameterType="Token" keyProperty="token"
		useGeneratedKeys="false">
		<![CDATA[
			insert into token(uid, token) values(#{uid}, #{token})
		]]>
	</insert>

	<select id="getByPage" resultType="Token">
		select * from user order by token
		<if test="start != null and count != null">
			limit #{start, javaType=int}, #{count, javaType=int}
		</if>
	</select>
</mapper>
